@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Poppins:wght@200&family=Qahiri&family=Zen+Antique+Soft&display=swap');


body {
    // columns: ;
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
}

// for DOM Manipulation
.hide-element {
    display: none;
}
.show-element {
    display: block;
}

.task-page-links {
    background-color: whitesmoke;
    padding: .3em;
    border-radius: 10px;
}
//
.navbar {
    padding: 0;
    margin: 0 auto;

    .container {
        text-align: center;
        .logo {
            
            h3 {

                img {
                    margin: -.5em;
                }
                
            }
        }

    }
}


.todo-dtails {
    
    .container {
        background-image: url("../images/bg.jpg");
        background-size: 100% auto;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        padding: .5em;
        .left-details {
            width: 15%;
            text-align: left;
            height: auto;


            ul {
                margin: 5em 0 5em 0;
                color: #0635C9;
                position: relative;

                li {
                    font-size: 15px;
                    color: #6B675E;
                    margin-bottom: 1em;
                    position: relative;
                    font-weight: bold;
                    cursor: pointer;
                    list-style: none;

                    // &:hover {
                    //     // background-color: whitesmoke;
                    //     padding: .3em;
                    //     border-radius: 10px;
                    // }
                }
                

                :nth-child(1) {

                    &::before {
                        content: "";
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../images/today.png');
                        background-size: contain;
                        margin-right: 5em;
                    }
                }
                :nth-child(2) {

                    &::before {
                        content: "";
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../images/task.png');
                        background-size: contain;
                        margin-right: 5em;
                    }
                }
                :nth-child(3) {

                    &::before {
                        content: "";
                        left: -2em;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background-image: url('../images/completed.png');
                        background-size: contain;
                        margin-right: 5em;
                    }
                }
                
            }
        }
        .todo-edit {
            margin-top: 5em;
            padding-left: 2em;
            .edit-labels {
                display: block;
                font-size: 1.2em;
                margin-bottom: .5em;
                color: #975454;
                font-weight: bold;
            }

            .edit-input {
                width: 80%;
                padding: -8em;
                margin-bottom: 1em;
                border-radius: .9em;
                border: 2pm solid rgb(231, 225, 225);
                box-sizing: border-box;
            }
            .cancel-edit {
                text-decoration: underline;
                color: blue;
                cursor: pointer;
            }
            .submit-edit {
                width: 50%;
                padding: -8em;
                margin-bottom: 1em;
                border-radius: .9em;
                border: 2pm solid rgb(231, 225, 225);
                background-color: #0D47A1;
                color: #ffffff;
                // box-sizing: border-box;
            }
        }
// Major view for all actions
        .middle-details {
            width: 70%;

            .present-date {
                text-align: left;
                font-size: 30px;
                font-weight: bold;

                span {
                    font-size: 12px;
                    color: #0635C9;
                }
            }

            .add-todo {
                font-size: 15px;
                text-align: left;
                font-weight: bold;
                color: #df4b4b;
                margin-left: 90px;

                img {
                    width: 15px;
                    height: 15px;
                }

                &:hover {
                    cursor: pointer;
                    font-weight: bolder;
                    color: darkgray;
                }
            }

            // todo Form
            // .todo-form {
            //     display: none;
            // }
            label {
                display: block;
                font-size: 1.2em;
                margin-bottom: .5em;
                color: #975454;
                font-weight: bold;

                small {
                    color: red;
                    font-size: x-small;
                }
            }
            
            .input-form, textarea {
                width: 50%;
                padding: -8em;
                margin-bottom: 1em;
                border-radius: .9em;
                border: 2pm solid rgb(231, 225, 225);
                box-sizing: border-box;
            }
            .input-form {
                height: 30px;
            }
            textarea {
                height: 90px;
            }

            input[type="submit"] {
                background-color: #DF4B4B;
                color: white;
                font-weight: bold;
                font-size: 18px;
                border: none;
                margin-bottom: 5em;
                border-radius: 5em;
                // display: inline-block;
                // padding: .8em;
                width: unset;
                cursor: pointer;
            }
            .cancel-task {
                text-decoration: underline;
                color: blue;
                cursor: pointer;
            }

            // todo table
            .todo-table, .completed-table {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 10px;
                padding-right: 10px;
                // display: none;

                h2 {
                    font-size: 26px;
                    margin: 20px 0;
                    text-align: center;
                    font-weight: bold;
                }

                .responsive-table {
                    li {
                      border-radius: 3px;
                      padding: 10px 15px;
                      margin: .5em;
                      display: flex;
                      justify-content: space-between;
                      margin-bottom: 20px;
                    }
                    // .todo-edit {
                    //     display: flex;
                    // }
                    // .todo-info {
                    //     display: flex;
                    // }
                    .col {
                        margin: .5em;
                    }
                    .table-header {
                      background-color: #51E9CD;
                      font-size: 14px;
                      text-transform: uppercase;
                      letter-spacing: 0.03em;
                    }
                    .table-row {
                      background-color: #ffffff;
                      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
                    }
                    .col-1 {
                      flex-basis: 25%;
                    }
                    .col-2 {
                      flex-basis: 25%;
                    }
                    .col-3 {
                      flex-basis: 25%;
                    }
                    .col-4 {
                      flex-basis: 25%;
                    }
                    .col-5 {
                        flex-basis: 25%;
                    }
                    .col-6 {
                        flex-basis: 25%;
                    }
                }
                .delete {
                    color: red;
                    cursor: pointer;
                    font-weight: bold;
                    width: 30px;
                    height: 30px;
                }
                .edit {
                    color: blue;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }

                .edit-name, .edit-description {
                    width: 1em;
                }
            }
        }

        .right-details {
            width: 10%;
        }
    }
}


